<header class="header">
	<div class="container">
		<div class="header__inner">
			<a class="header__logo" href="#">
				<img src="./assets/img/logo.svg" alt="jscourses" class="header__logo-img">
			</a>
			<nav class="header__nav nav">
				<ul class="nav__list">
					<li class="nav__item">
						<a href="#" class="nav__link">
							Статьи
							<svg class="nav__link-icon" viewbox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M1 1.5L4 4.5L7 1.5" stroke-width="1.5"/>
							</svg>
						</a>
						<ul class="nav__list-child">
							<li class="nav__list-child-item">
								<a href="#" class="nav__list-child-link">JavaScript Pro</a>
							</li>
							<li class="nav__list-child-item">
								<a href="#" class="nav__list-child-link">JavaScript для новичков</a>
							</li>
							<li class="nav__list-child-item">
								<a href="#" class="nav__list-child-link">JavaScript ниндзя</a>
							</li>
						</ul>
					</li>
					<li class="nav__item">
						<a href="#" class="nav__link">
							Курсы
							<svg class="nav__link-icon" viewbox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M1 1.5L4 4.5L7 1.5" stroke-width="1.5"/>
							</svg>
						</a>
						<ul class="nav__list-child">
							<li class="nav__list-child-item">
								<a href="#" class="nav__list-child-link">JavaScript Pro</a>
							</li>
							<li class="nav__list-child-item">
								<a href="#" class="nav__list-child-link">JavaScript для новичков</a>
							</li>
							<li class="nav__list-child-item">
								<a href="#" class="nav__list-child-link">JavaScript ниндзя</a>
							</li>
						</ul>
					</li>
					<li class="nav__item">
						<a href="#" class="nav__link">Новости</a>
					</li>
					<li class="nav__item">
						<a href="#" class="nav__link">О нас</a>
					</li>
				</ul>
			</nav>
			<button class="header__order button" type="button">Начать учиться</button>
			<button class="header__burger" type="button"></button>
		</div>
	</div>
</header>
