<header class="header">
	<div class="container">
		<div class="header__inner">
			<a class="header__logo" href="#">
				<img src="./assets/img/logo.svg" alt="jscourses" class="header__logo-img">
			</a>
			<nav class="header__nav nav">
				<ul class="nav__list">
					<li class="nav__item">
						<a href="#" class="nav__link">Статьи</a>
					</li>
					<li class="nav__item">
						<a href="#" class="nav__link">Курсы</a>
						<ul class="nav__list-child">
							<li class="nav__list-child-item">
								<a href="#" class="nav__list-child-link">JavaScript Pro</a>
							</li>
							<li class="nav__list-child-item">
								<a href="#" class="nav__list-child-link">JavaScript для новчиков</a>
							</li>
							<li class="nav__list-child-item">
								<a href="#" class="nav__list-child-link">JavaScript ниндзя</a>
							</li>
						</ul>
					</li>
					<li class="nav__item">
						<a href="#" class="nav__link">Новости</a>
					</li>
					<li class="nav__item">
						<a href="#" class="nav__link">О нас</a>
					</li>
				</ul>
			</nav>
			<button class="header__button button" type="button">Начать учиться</button>
		</div>
	</div>
</header>
