<div class="modal">
	<div class="modal__body">
		<div class="modal__content">
			<h2 class="modal__title title-3">Начать учиться</h2>
			<p class="modal__desc">Оставьте заявку и наш менеджер вам перезвонит.</p>

			{% include './Form/order.twig' %}

			<button class="modal__close" type="button"></button>
		</div>
	</div>
</div>
