<section class="quote">
	<div class="container">
		<h2 class="quote__title title-3">Серверный JavaScript</h2>
		<div class="quote__wrapper">
			<img src="./assets/img/icons/quote.svg" class="quote__icon" alt="Цитата"></img>
		<blockquote class="quote__block">
			<p class="quote__desc">Разработчики и клиенты часто неправильно понимают, что такое система. Они видят графический интерфейс и думают, что он и есть система. Они определяют систему в терминах графического интерфейса и считают, что должны сразу начать работу с графическим интерфейсом. Они не понимают важнейшего принципа: ввод/вывод не важен.</p>
			<cite class="quote__author">- Р. Мартин</cite>
		</blockquote>
	</div>
</div></section>
