$default-font-family: 'Onest', 'Roboto', Arial, sans-serif;
$font-base: 16px;

$white: #fff;
$black: #000;
$dark-100: #202326;
$gray-100: #777777;
$light-100: #f1f1f3;
$blue-100: #2d1aa7;

$z-index--100: 100;
$z-index--200: 200;
$z-index--300: 300;
$z-index--400: 400;
$z-index--500: 500;
$z-index--modal: 1000;
$z-index--highest: 2000;

// breakpoints
$mobile-sm: 426px;
$mobile: 576px;
$mobile-xl: 640px;
$tablet: 768px;
$laptop: 1440px;
$desktop: 1920px;
