@import 'vars';
@import './reset';
@import './fonts';

// uttils
@import 'uttils/mixins';
@import 'uttils/functions';

// Choises
@import '../../../node_modules/choices.js/src/styles/choices.scss';
@import '../../../node_modules/swiper/swiper.scss';
@import '../../../node_modules/swiper/swiper-vars.scss';

html {
    font-size: 16px;
}

body {
    overflow-x: hidden;
    font-family: $default-font-family;
    color: $dark-100;
    background: $light-200;
    &:has(.modal--active) {
        overflow: hidden;
        touch-action: none;
    }
}

.site {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    min-height: 100vh;
    &-top {
        flex: 1 0 auto;
    }
    &-bottom {
        flex: 0 1 auto;
    }
}

.container {
    min-width: 320px;
    max-width: calc(toRem(738px) + 40px);
    margin: 0 auto;
    padding: 0 20px;
}

.swiper-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: toRem(20px);
    .swiper-pagination-bullet {
        display: block;
        width: toRem(10px);
        aspect-ratio: 1;
        border-radius: 50%;
        background: $light-100;
        transition: all 0.3s ease;
        transition-property: transform, background;
        &-active {
            transform: scale(1.5);
            background: $blue-100;
        }
    }
}

@import './typography';

// ui
@import 'ui/**/*.scss';

// components
@import 'components/**/*.scss';

// block
@import 'blocks/**/*.scss';

// pages
@import 'pages/**/*.scss';
