.form {
    &__subtitle {
        margin-bottom: toRem(7px);
    }
    &__grid {
        --cols: 3;
        display: grid;
        grid-template-columns: repeat(var(--cols), 1fr);
        gap: toRem(12px);
        padding-top: toRem(6px);
        &-item {
            width: 100%;
        }
        @include MQmax($tablet) {
            --cols: 1;
        }
    }
    &__textarea {
        grid-column: 1 / 4;
        @include MQmax($tablet) {
            grid-column: initial;
        }
    }
    &__bottom {
        padding-top: toRem(22px);
    }
    &__submit-button {
        @include MQmax($tablet) {
            width: 100%;
        }
    }
    &__policy {
        font-size: toRem(10px);
        line-height: 1.6;
        letter-spacing: 0.01em;
        text-align: center;
        max-width: toRem(238px);
        margin-inline: auto;
        padding-top: toRem(60px);
        margin-bottom: 0;
        &-link {
            color: $blue-100;
            text-decoration: none;
            text-decoration-skip-ink: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &--order {
        .form__fields {
            display: flex;
            flex-direction: column;
            gap: toRem(12px);
        }
        .form__submit-button {
            width: 100%;
        }
    }
    &--review {
        .form__item {
            & + .form__item {
                padding-top: toRem(46px);
                @include MQmax($tablet) {
                    padding-top: toRem(35px);
                }
            }
        }
    }
}
