.header {
    padding-top: toRem(15px);
    padding-bottom: toRem(15px);
    &__inner {
        display: flex;
        align-items: center;
        gap: toRem(62px);
        justify-content: space-between;
    }
    &__nav {
        margin-left: auto;
        @include MQmax($tablet) {
            display: none;
        }
    }
    &__logo {
        display: block;
        img {
            display: block;
            width: 100%;
        }
    }
    &__order {
        padding-inline: toRem(20px);
        min-height: toRem(45px);
        @include MQmax($tablet) {
            display: none;
        }
    }
    &__burger {
        display: none;
        position: relative;
        width: toRem(20px);
        height: toRem(8px);
        background: none;
        border: none;
        @include MQmax($tablet) {
            display: block;
        }
        &::before,
        &::after {
            content: '';
            position: absolute;
            left: 0;
            width: 100%;
            border-top: toRem(2px) solid $dark-100;
        }
        &::after {
            top: 0;
        }
        &::before {
            bottom: 0;
        }
    }
}
