.nav {
    a {
        text-decoration: none;
        color: $dark-100;
    }
    &__list {
        @include reset-list();
        display: flex;
        align-items: center;
        column-gap: toRem(33px);
        &-child {
            @include reset-list();
            position: absolute;
            top: 100%;
            left: 0;
            background: $white;
            padding-top: toRem(14px);
            padding-left: toRem(14px);
            padding-right: toRem(26px);
            padding-bottom: toRem(17px);
            box-shadow: 0 18px 60px 0 rgba(0, 0, 0, 0.05);
            transition: all 0.3s ease;
            transition-property: opacity, transform;
            transform: translateY(5%);
            opacity: 0;
            pointer-events: none;
            &-item {
                margin-bottom: toRem(11px);
                &:last-child {
                    margin-bottom: 0;
                }
            }
            &-link {
                display: block;
                font-size: toRem(13px);
                letter-spacing: 0.01em;
                min-width: toRem(156px);
            }
        }
    }
    &__item {
        gap: toRem(5px);
        position: relative;
        &:hover {
            .nav__list-child {
                opacity: 1;
                transform: translateY(0);
                pointer-events: initial;
            }
            .nav__link {
                color: $blue-100;
                &-icon {
                    stroke: $blue-100;
                    transform: rotate(-180deg);
                }
            }
        }
    }
    &__link {
        display: flex;
        align-items: center;
        gap: toRem(5px);
        font-size: toRem(15px);
        font-weight: 500;
        padding-top: toRem(12px);
        padding-bottom: toRem(12px);
        &-icon {
            width: toRem(10px);
            height: toRem(6px);
            stroke: $dark-100;
            transition: all 0.3s ease;
            transition-property: stroke, transform;
        }
    }
}
