.quote {
    padding-top: toRem(25px);
    padding-bottom: toRem(80px);
    @include MQmax($tablet) {
        padding-top: toRem(50px);
        padding-bottom: toRem(50px);
    }
    &__wrapper {
        display: flex;
        align-items: flex-start;
        gap: toRem(20px);
        @include MQmax($tablet) {
            display: block;
            gap: initial;
        }
    }
    &__title {
        margin-bottom: toRem(30px);
        @include MQmax($tablet) {
            margin-bottom: toRem(16px);
        }
    }
    &__block {
        margin: 0;
    }
    &__desc {
        font-size: toRem(22px);
        line-height: 1.4;
        margin-bottom: toRem(26px);
        @include MQmax($tablet) {
            font-size: toRem(18px);
            margin-bottom: toRem(14px);
        }
    }
    &__author {
        font-size: toRem(16px);
        line-height: 1.5;
        letter-spacing: 0.01em;
        color: $gray-100;
        font-style: normal;
    }
    &__icon {
        display: block;
        width: toRem(38px);
        aspect-ratio: 1;
        @include MQmax($tablet) {
            margin-bottom: toRem(18px);
        }
    }
}
