.button {
    background: $blue-100;
    transition: opacity 0.3s ease;
    cursor: pointer;
    min-height: toRem(50px);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: $white;
    padding-inline: toRem(30px);
    border-radius: toRem(100px);
    font-size: toRem(14px);
    @include MQmin($tablet) {
        &:hover {
            opacity: 0.9;
        }
    }
}
