.fieldset {
    position: relative;
    &__input {
        display: block;
        width: 100%;
        border-radius: toRem(10px);
        border: toRem(1px) solid $gray-300;
        height: toRem(50px);
        padding-inline: toRem(15px);
        font-size: toRem(14px);
        transition: border 0.3s ease;
        &:focus {
            border-color: $blue-100;
            outline: none;
        }
        &:focus + .fieldset__label,
        &:not(:placeholder-shown) + .fieldset__label {
            transform: translateY(-117%) scale(0.6);
        }
    }
    &__label {
        position: absolute;
        top: 50%;
        left: toRem(15px);
        transform: translateY(-50%);
        will-change: transform;
        color: $gray-100;
        transition: transform 0.3s ease;
        transform-origin: 0 0;
        font-size: toRem(14px);
    }
    &:has(textarea) {
        .fieldset__input {
            height: initial;
            min-height: toRem(146px);
            padding-top: toRem(17px);
            padding-bottom: toRem(17px);
            resize: none;
            @include MQmax($tablet) {
                min-height: toRem(200px);
            }
        }
        .fieldset__label {
            top: toRem(23px);
        }
    }
}
