.choices {
    &__list {
        &--single {
            padding: 0;
            .choices__item--selectable {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 90%;
            }
        }
        .choices__item--disabled {
            display: none;
        }
        &--dropdown {
            box-shadow: 0 8px 60px 0 rgba(0, 0, 0, 0.07);
            background: $white;
            border: none !important;
            border-radius: toRem(6px) !important;
            margin-top: toRem(5px) !important;
            .choices__item {
                &:not(.choices__item--disabled) {
                    display: flex;
                }
                align-items: center;
                height: toRem(45px);
                padding-left: toRem(14px) !important;
                padding-right: toRem(14px) !important;
                &::after {
                    display: none;
                }
            }
        }
    }
    &__item {
        padding-inline: toRem(15px);
        font-size: toRem(14px) !important;
        &.is-selected {
            position: relative;
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: toRem(7px);
                background: $blue-100;
            }
        }
    }
    &__inner {
        display: flex;
        align-items: center;
        height: toRem(50px);
        padding-inline: 0;
        background: $white;
        border-radius: toRem(10px) !important;
        border-color: $gray-300;
    }
    &.is-focused {
        .choices__inner {
            border-color: $blue-100;
        }
    }
    &.is-flipped {
        .choices__list {
            &--dropdown {
                margin-bottom: toRem(5px) !important;
            }
        }
    }
    &::after {
        display: none;
    }
    &::before {
        content: '';
        position: absolute;
        top: 50%;
        right: toRem(14px);
        transform: translateY(-50%) rotate(-180deg);
        width: toRem(12px);
        aspect-ratio: 1;
        background-image: url('../img/icons/arrow.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        pointer-events: none;
        transition: transform 0.3s ease;
    }
    &.is-open {
        &::before {
            transform: translateY(-50%) rotate(0);
        }
    }
}
