{% extends "../layouts/default.twig" %}
{% from '../components/input.twig' import input %}
{% from '../components/textarea.twig' import textarea %}

{% set TITLE = 'IBrush - тестовое' %}

{% block content %}
	<div class="index-page">
		{% include '../includes/quote.twig' %}
		{% include '../includes/promo.twig' %}
		{% include '../includes/conclusion.twig' %}

	</select>
</div>{% endblock %}
