{% extends "../layouts/default.twig" %}

{% set TITLE = 'IBrush - тестовое' %}

{% block content %}
	<div class="index-page">
		{% include '../includes/quote.twig' %}
		{% include '../includes/promo.twig' %}
		{% include '../includes/conclusion.twig' %}
	</div>
{% endblock %}
