{% macro select(props) %}
	<div class="select">
		<select data-form-select>
			{% if props.placeholder %}
				<option value="" selected disabled hidden>{{props.placeholder}}</option>
			{% endif %}
			{% for optionItem in props.options %}
				<option value="{{optionItem}}">{{optionItem}}</option>
			{% endfor %}
		</select>
	</div>

{% endmacro %}
